POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=

LANGCHAIN_host=
LANGCHAIN_PORT=


OPEN_ALEX_KEY=
DOI_API_URL=



GOOGLE_API_KEY=
GOOGLE_API_VERSION=
LANGCHAIN_PORT=

OPEN_AI_KEY=

CRAWLEE_REQUEST_HANDLER_TIMEOUT_SECS=


JWT_SECRET=