node_modules
dist
coverage

apps/**/node_modules
apps/**/dist
apps/**/coverage

apps/api/src/generated
apps/api/generated
apps/api/prisma/migrations

package-lock.json
pnpm-lock.yaml
yarn.lock

.venv/
__pycache__*/
